.btn {
  background-color: #2eac68;
  padding: 8px;
  border-radius: 20px;
  border: 0 none;
  cursor: pointer;
  transition: all 0.3s;
}

.btn:hover {
  transition: all 0.3s;
  background-color: #217a45;
}
